# IDEs and Editors
.vscode/
.DS_Store

# Python Environment and Cache
__pycache__/
*.pyc
.venv/
venv/

# Environment Variables and Secrets
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Data and Artifacts
data/processed/

# Machine Learning Models
models/*.pkl
models/*.joblib

# Streamlit Configuration
.streamlit/

# Generated Reports
reports/*.html
reports/*.csv
reports/*.xlsx

